<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- Add new Tab -->
        <tab id="sbzimport" translate="label" sortOrder="15">
            <label>Buchzentrum import</label>
        </tab>
        <section id="setting_sbz_import" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Setting</label>
            <tab>sbzimport</tab>
            <!-- resource tag name which we have to defined in the acl.xml -->
            <resource>Funk_SbzImport::config_sbzimport</resource>
            <group id="authentication" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Authentication</label>
                <field id="username" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="2">
                    <label>Password</label>
                </field>
                <field id="updatestock" translate="label" type="checkbox" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Update stock</label>
                </field>
            </group>
            <group id="filterdata" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Filter Data</label>
                <field id="export" translate="label" type="Funk\SbzImport\Block\Adminhtml\Form\Field\Export" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export</label>
                </field>
                <field id="import" translate="label" type="Funk\SbzImport\Block\Adminhtml\Form\Field\Import" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import</label>
                    <backend_model>Funk\SbzImport\Model\Config\Backend\Keywords</backend_model>
                </field>
            </group>
            <group id="category" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Categories</label>
                <field id="default_category" translate="label comment" type="select" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Buchzentrum products default category</label>
                    <source_model>Funk\SbzImport\Model\Config\Category\Categories</source_model>
                </field>
                <field id="ebooks_dvds_cds_category" translate="label comment" type="select" sortOrder="5"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>E-Books, DVDS, CDS category</label>
                    <source_model>Funk\SbzImport\Model\Config\Category\Categories</source_model>
                </field>
                <field id="ebooks_category" translate="label comment" type="select" sortOrder="6" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>E-Books category</label>
                    <source_model>Funk\SbzImport\Model\Config\Category\Categories</source_model>
                </field>
            </group>
            <group id="cronjob" translate="label" type="text" sortOrder="2" showInDefault="2" showInWebsite="2"
                   showInStore="2">
                <label>Cronjob configuration</label>
                <field id="import_product" translate="label comment" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Import Product</label>
                </field>
                <field id="import_update_stock" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Import update stock</label>
                </field>
                <field id="import_process_orders" translate="label comment" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Import process orders</label>
                </field>
                <field id="import_get_downloads" translate="label comment" type="text" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Import get downloads</label>
                </field>
                <field id="import_close_orders" translate="label comment" type="text" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Import close orders</label>
                    <comment><![CDATA[
<pre>
* * * * *
| | | | |
| | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
| | | +------ Month of the Year (range: 1-12)
| | +-------- Day of the Month  (range: 1-31)
| +---------- Hour              (range: 0-23)
+------------ Minute            (range: 0-59)
Example: 0 0 * * * Daily at midnight
</pre>
                            ]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>